<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5" id="aboutid">
      <div class="text-center">
      <h1 class="textcolor">About Us</h1>
      <p >grow your business with us</p>
      </div>
      <div class="row mt-5">
         <div class="col-md-6">
          <figure>
            <img src="images/working.png" alt="no image" width="90%" class="img">
          </figure>
        </div>
        <div class="col-md-6 align-items-start d-flex justify-content-center flex-column">
          <h1>We Are The Team Of Professional Developer </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum exercitationem, 
            nemo facere neque nostrum perferendis repellat
             illo libero quo nobis architecto atque aperiam voluptate tenetur ratione placeat officia ex. Sit!</p>
             <p id="demo1"></p>
          <button class="btn btn-danger" onclick="myfunc()"> Read more</button>

        </div>
      </div>
    </div>

</body>
</html>