<div class="container mt-5" id="serviceid">
      <div class="text-center">
      <h1 class="textcolor">Our Service</h1>
      <p >grow your business with us</p>
      </div>
      <div class="row">
        <div class="col-md-4">
        <div class="box">
          <div class="our-services settings">
          <div class="icon">
            <img src="images/setting.png" alt="no image" width="70px">
          </div>
          <h4>Settings</h4>
          <p class="font">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, consequuntur.</p>
          </div>
          </div>

        </div>
         <div class="col-md-4">
        <div class="box">
          <div class="our-services speedup">
          <div class="icon">
            <img src="images/uptime.png" alt="no image" width="70px">
          </div>
          <h4>Speedup</h4>
          <p class="font">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, consequuntur.</p>
          </div>
          </div>

        </div>
         <div class="col-md-4">
        <div class="box">
          <div class="our-services privacy">
          <div class="icon">
            <img src="images/account.png" alt="no image" width="70px">
          </div>
          <h4>Privacy</h4>
          <p class="font">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, consequuntur.</p>
          </div>
          </div>

        </div>
         <div class="col-md-4">
        <div class="box">
          <div class="our-services backups">
          <div class="icon">
            <img src="images/synchronize.png" alt="no image" width="70px">
          </div>
          <h4>Backups</h4>
          <p class="font">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, consequuntur.</p>
          </div>
          </div>

        </div>
         <div class="col-md-4">
        <div class="box">
          <div class="our-services ssl">
          <div class="icon">
            <img src="images/security.png" alt="no image" width="70px">
          </div>
          <h4>SSL secured</h4>
          <p class="font">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, consequuntur.</p>
          </div>
          </div>

        </div>
         <div class="col-md-4">
        <div class="box">
          <div class="our-services database">
          <div class="icon">
            <img src="images/data-server.png" alt="no image" width="70px">
          </div>
          <h4>Database</h4>
          <p class="font">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, consequuntur.</p>
          </div>
          </div>

        </div>
      </div>     
    </div>