.body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.text-color{
    color: rgb(233, 119, 119);
    font-size: 30px;
    text-shadow: 6px 5px 11px rgb(2, 1, 1);
}

.links:hover{
    color: rgb(233, 119, 119);
}

.textcolor{
    color: rgb(233, 119, 119);
    /* text-shadow: 6px 5px 11px rgb(9, 10, 12); */
}

.img{
    margin-left: 20px;
}
.size{
    font-size: 40px;
}

.text{
    font-weight: bold;
    color: #5222d0;
    text-shadow: 6px 5px 11px rgb(44, 62, 121);
}

/* //dscd */
.box {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .our-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 30px;
    min-height: 170px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
  }
  
  .our-services .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .our-services h4 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .our-services:hover h4,
  .our-services:hover p {
    color: #fff;
  }
  .settings:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
  }
.font{
    font-size: 15px;
}


.speedup:hover {
    box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
  }
  
  
  .privacy:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #5035ec 0%, #44a2f6 50%);
  }
  
  .backups:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fd7f30 0%, #fdb642 50%);
  }
  
  .ssl:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #974eff 0%, #5a57fb 50%);
  }
  
  .database:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 50%);
  }